* {
    box-sizing: border-box;
  }


body{
    background: hsl(218, 23%, 16%);
}
.attribution{
display: flex;
justify-content: center;
position: fixed;
bottom: 0;
width: 100%;
}
section{
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  background-color: hsl(217, 19%, 24%);
  color: white;
  border-radius: 20px;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 20px;
  padding-bottom: 70px;
  font-weight: bold;
  text-align: center;
}
.advice{
    font-family: 'Manrope', sans-serif;
    color: hsl(150, 100%, 66%);
    
   
    
}
.adv-text{
    
   font-size: 28px;
   font-family: 'Manrope', sans-serif;
   color: hsl(193, 38%, 86%);
}

.divider{
    display: flex;
  flex-direction: row;
  justify-content: center;
  height: 20px;
}
.desktop-divider{
    display: flex;
    
}
button{
    position: absolute;
    bottom: -10%;
    border-radius: 50%;
    height: 65px;
    width: 65px;
    background-color: hsl(150, 100%, 66%);
    border: none;
    cursor: pointer;
    display: block;

}
button:hover {
    cursor: pointer;
    background-color: #52ffa8;
    box-shadow: hsl(150deg 100% 66%) 0px 0px 36px;
    transform: rotate(180deg);
    transition: transform 10s;
  }
  button:active {
    transform: scale(0.9);
  }
.mobile-divider{
    display: none;
}
.onclick{
    cursor: pointer;
    background-color: #52ffa8;
    box-shadow: hsl(150deg 100% 66%) 0px 0px 36px;
    transform: rotate(180deg);
    transition: transform 10s;
}

@media (max-width: 1100px) {
    section{
        width: 350px;
        display: flex;
    }
    .mobile-divider{
        display: flex;
    }
    .desktop-divider{
        display: none;
    }
   
    
}